/* import fonts from google */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* webpage default margin/padding clean */
* {
    margin: 0px;
    padding: 0px;
}

/* nav start */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;

}

.btn-download-resume {

    background-color: white;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;

    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

    padding: 17px 24px 17px 24px;
}

.slog {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;

}

/* nav end */

/* hero section start */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url("../assets/Hero-bg.png");

    margin-top: 36px;
}

/* use for paragraph style */
.para-text {
    width: 900px;
    height: 100px;
    display: table;

}

#hero h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

#hero p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#hero button{
    background-color: black;
    color: white;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;

    border: none;
    border-radius: 8px;
    opacity: 0.8;

    padding: 17px 24px 17px 24px;
}