/* import fonts from google */

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* webpage default margin/padding clean */
* {
    margin: 0px;
    padding: 0px;
}

/* nav start */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

nav ul li {
    list-style: none;
    margin-right: 50px;

}

.btn-download-resume {

    background-color: white;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;

    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;

    opacity: 0.8;

    padding: 17px 24px 17px 24px;
}

.btn-download-resume a {
    text-decoration: none;
    color: black;
}

.slog {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    cursor: pointer;

}

/* nav end */

/* hero section start */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: url("../assets/Hero-bg.png");

    margin-top: 36px;
}

/* use for paragraph style */
.para-text {
    width: 900px;
    height: 100px;
    display: table;

}

#hero h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}

#hero p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

#hero button {
    background-color: black;
    color: white;
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;

    border: none;
    border-radius: 8px;
    opacity: 0.8;

    padding: 17px 24px 17px 24px;
    /* cursor: pointer; */
}

#hero button a {
    text-decoration: none;
    color: white;
}

/* Why Web Development section start */

#web-dev {
    background-color: rgba(13, 19, 33, 0.02);
    margin-top: 154px;
    border-radius: 16px;


}

.heading-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.heading-top h1 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;

}

.heading-top p {
    margin-top: 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;

}

.high-light {
    color: palevioletred;
}

/* 1st layer start */
.coding {
    margin-top: 98px;
    padding-top: 50px;
    height: 400px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

}

.coding h1 {
    /* Font */
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;

}

.coding p {
    /* Font */
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

/* coding-para for all */
.para-text-coding {
    width: 400px;
    height: 50px;
    display: table;

}
/* coding para end */

/* coding button start */
.coding button{
    margin-top: 30px;
    margin-bottom:30px ;
}
/* coding button end */
 
/* 1st layer end */

/* 2nd layer start */
/* modern title */
.modern {
    margin-top: 98px;
    padding-top: 50px;
    height: 400px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-bottom: 30px;

}
/* modern h1 */
.modern h1 {
    /* Font */
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;

}
/* modern pera  */

.modern p {
    /* Font */
    margin-top: 30px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;


}

.modern button{
    margin-top: 30px;
    margin-bottom:30px ;
}

/* 2nd layer end */

/* 3rd layer start */
.change {
    margin-top: 98px;
    padding-top: 50px;
    height: 400px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}
/* change h1 */
.change h1 {
    /* Font */
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;

}
/* font end */
/* change pera  */

.change p {
    /* Font */
    margin-top: 30px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

change button{
    margin-top: 30px;
    margin-bottom:30px ;
}
/* 3rd layer end */
/* Inspiration section start */
.inspiration-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Inspiration section end */
/* My current target start */
.current-target-title {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.current-target-title p {
    margin-top: 30px;
}

.target-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
}

/* My current target end */
/* My Next target Start*/
.section-title {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.react-js {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.node-js {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.mongo-db {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/* My Next target End*/

/* support section start */
.support-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: red;
}

.email-container {
    /* width: 115px; */
    /* height: 800px; */
    /* margin-top: 30px; */
    display: flex;
    justify-content: center;
    /* background-image: url("../assets/handshake.jpg"); */
}

.mail-inp {
    margin-top: 10px;
    height: 57px;
    width: 540px;
    font-size: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    justify-content: center;
    text-align: center;
    /* background-color:rgb(255, 255, 255) */
}

.btn-subc {
    border: none;
    margin-top: 1px;
    height: 80px;
    width: 120px;
    margin-left: 5px;
    padding-left: 5px;
    /* margin-top: ; */
    color: black;
    background-color: white;
    font-size: 25px;
    /* border-radius: 0px     30px      30px           0px; */
    border-radius: 10px;
}

/* support section End */
/* Footer start */
#footer-section {
    margin-top: 120px;
    margin-bottom: 30px;
    margin-left: 150px;
}

.logo-container {
    margin-right: 150px;
    margin-top: -50px;
    display: flex;
    justify-content: end;
}

/* Footer end */